*.DS_Store
code/.idea/*
code/DerivedData/*
code/ordo.build/*
code/ordo.xcodeproj/project.xcworkspace/*
code/ordo.xcodeproj/xcuserdata/*
ordo

# copyright
paper/*

# tex
tex/report.aux
tex/report.bbl
tex/report.blg
tex/report.fdb_latexmk
tex/report.fls
tex/report.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

project.pbxproj
