code/DerivedData/ordo/info.plist
code/DerivedData/ordo/scm.plist
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb-shm
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb-wal
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-cmp
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-dir
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-file
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-moduleurl
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-res
code/DerivedData/ordo/Index/Debug/macosx10.9-x86_64/ordo.xcindex/db.xcindexdb.strings-sym
code/DerivedData/ordo/Logs/Build/3EBE0487-FF0E-4B47-8BB6-3A08E7637A17.xcactivitylog
code/DerivedData/ordo/Logs/Build/4C7FF3F6-B785-4957-AB25-D206124F6C56.xcactivitylog
code/DerivedData/ordo/Logs/Build/A6581D77-6C2B-49A8-9946-34651FA9EDD6.xcactivitylog
code/DerivedData/ordo/Logs/Build/A80F18E2-C56F-4948-9036-AEA0BD00BA38.xcactivitylog
code/DerivedData/ordo/Logs/Build/BA637566-7A72-4F2F-91FE-0F4FD0FD2AC7.xcactivitylog
code/DerivedData/ordo/Logs/Build/Cache.db
code/DerivedData/ordo/Logs/Build/D31CFE00-73E2-41E5-99A4-5BEEF152A039.xcactivitylog
code/DerivedData/ordo/Logs/Debug/0280F940-865D-45DE-8F3C-2BC519F78BA1.xcactivitylog
code/DerivedData/ordo/Logs/Debug/1D92BC03-EBEF-4E3A-9E34-DFB4851F6694.xcactivitylog
code/DerivedData/ordo/Logs/Debug/338E126F-762A-484B-B407-0924048AC320.xcactivitylog
code/DerivedData/ordo/Logs/Debug/4FA25E31-62CC-49C3-B2CC-AE0EF0FA3681.xcactivitylog
code/DerivedData/ordo/Logs/Debug/5F2FAC1C-1006-4D8B-9C32-75FD0638552B.xcactivitylog
code/DerivedData/ordo/Logs/Debug/ABE27905-2191-468C-BFB4-76156A226848.xcactivitylog
code/DerivedData/ordo/Logs/Debug/Cache.db
code/DerivedData/ordo/Logs/Issues/3C9E1DD3-8BCB-408F-8E31-6B3CD31A29A2.xcactivitylog
code/DerivedData/ordo/Logs/Issues/Cache.db
code/DerivedData/ordo/TextIndex/text-filter.idx
code/ordo.build/dgph
code/ordo.build/ordo-all-non-framework-target-headers.hmap
code/ordo.build/ordo-all-target-headers.hmap
code/ordo.build/ordo-generated-files.hmap
code/ordo.build/ordo-own-target-headers.hmap
code/ordo.build/ordo-project-headers.hmap
code/ordo.build/ordo.hmap
code/ordo.build/Objects-normal/x86_64/board.d
code/ordo.build/Objects-normal/x86_64/board.dia
code/ordo.build/Objects-normal/x86_64/board.o
code/ordo.build/Objects-normal/x86_64/main.d
code/ordo.build/Objects-normal/x86_64/main.dia
code/ordo.build/Objects-normal/x86_64/main.o
code/ordo.build/Objects-normal/x86_64/ordo.LinkFileList
code/ordo.build/Objects-normal/x86_64/ordo_dependency_info.dat
code/ordo.build/Objects-normal/x86_64/renderer.d
code/ordo.build/Objects-normal/x86_64/renderer.dia
code/ordo.build/Objects-normal/x86_64/renderer.o
code/ordo.build/Objects-normal/x86_64/sound.d
code/ordo.build/Objects-normal/x86_64/sound.dia
code/ordo.build/Objects-normal/x86_64/sound.o
code/ordo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
code/ordo.xcodeproj/project.xcworkspace/xcuserdata/tobiasgurdan.xcuserdatad/UserInterfaceState.xcuserstate
code/ordo.xcodeproj/project.xcworkspace/xcuserdata/tobiasgurdan.xcuserdatad/WorkspaceSettings.xcsettings
code/ordo.xcodeproj/xcuserdata/tobiasgurdan.xcuserdatad/xcschemes/ordo.xcscheme
code/ordo.xcodeproj/xcuserdata/tobiasgurdan.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
code/.DS_Store
code/ordo.xcodeproj/project.xcworkspace/xcshareddata/ordo.xccheckout
code/ordo.xcodeproj/project.xcworkspace/xcuserdata/henrax.xcuserdatad/UserInterfaceState.xcuserstate
code/ordo.xcodeproj/project.xcworkspace/xcuserdata/henrax.xcuserdatad/WorkspaceSettings.xcsettings
code/ordo.xcodeproj/xcuserdata/henrax.xcuserdatad/xcschemes/ordo.xcscheme
code/ordo.xcodeproj/xcuserdata/henrax.xcuserdatad/xcschemes/xcschememanagement.plist
